In [76]:
# Advent of Code 2022, Day 2 Part 1
# hhttps://adventofcode.com/2022/day/2

import pandas as pd
import numpy as np

In [77]:
# Open the file containing the strategy guide
with open('rps_strategy.txt', 'r') as f:
    lines = f.readlines()
    lines = [l.replace('\n', '') for l in lines]

In [78]:
# Create dataframe from strategy guide and rename the column
df = pd.DataFrame(lines).dropna()
df.columns=('strategy',)

df

     strategy
0         B Z
1         B Z
2         C Z
3         C Z
4         B X
...       ...
2496      C Z
2497      B Z
2498      C Z
2499      A Y
2500

[2501 rows x 1 columns]

In [79]:
# Clean up the dataframe:  remove blank rows - this addresses the extra 
# blank line at the end of the dataframe.

# Strip leading/lagging spaces
df['strategy'].str.strip()
# replace blanks witn NaN
df['strategy'].replace('', np.nan, inplace=True)
# drop the NaN rows
df = df.dropna()

df

     strategy
0         B Z
1         B Z
2         C Z
3         C Z
4         B X
...       ...
2495      C Z
2496      C Z
2497      B Z
2498      C Z
2499      A Y

[2500 rows x 1 columns]

In [80]:
opponent_shape_dict = {'A':'R', 'B':'P', 'C':'S'}

my_shape_dict = {'X':'R', 'Y':'P', 'Z':'S'}

def get_opponent_shape(s):
    # opponent shape is the first character of each line
    shape_coded = s[0]
    # decode opponent shape
    shape = opponent_shape_dict[shape_coded]
    return shape

def get_my_shape(s):
    # my shape is the last character of each line
    shape_coded = s[-1]
    # decode my shape
    shape = my_shape_dict[shape_coded]
    return shape

In [81]:
get_my_shape('B Z')

'S'

In [82]:
get_opponent_shape('B Z')

'P'

In [83]:
df

     strategy
0         B Z
1         B Z
2         C Z
3         C Z
4         B X
...       ...
2495      C Z
2496      C Z
2497      B Z
2498      C Z
2499      A Y

[2500 rows x 1 columns]

In [84]:

df = df[:50].copy()
df['opponent']=df['strategy'].apply(get_opponent_shape)
df['me']=df['strategy'].apply(get_my_shape)

df

   strategy opponent me
0       B Z        P  S
1       B Z        P  S
2       C Z        S  S
3       C Z        S  S
4       B X        P  R
5       C Y        S  P
6       A Y        R  P
7       B Z        P  S
8       A Z        R  S
9       A Y        R  P
10      C Z        S  S
11      C X        S  R
12      C Z        S  S
13      C X        S  R
14      B X        P  R
15      B Z        P  S
16      B Z        P  S
17      A Z        R  S
18      C Z        S  S
19      C Z        S  S
20      C Y        S  P
21      C Z        S  S
22      B Z        P  S
23      B Z        P  S
24      A X        R  R
25      A Y        R  P
26      B Z        P  S
27      B Z        P  S
28      C Z        S  S
29      B Z        P  S
30      B Z        P  S
31      C X        S  R
32      C Z        S  S
33      A Y        R  P
34      A X        R  R
35      A X        R  R
36      C Z        S  S
37      C Z        S  S
38      B X        P  R
39      C X        S  R
40      B Z        P  S
41      A Z        R  S
42      B X        P  R
43      B Z        P  S
44      B Z        P  S
45      A Z        R  S
46      B Z        P  S
47      A Y        R  P
48      C Z        S  S
49      C Z        S  S

In [87]:
# Rock paper scissors dictionary -
# 1 means the first player in the tuple wins.
# 2 means the second player wins.
# 0 indicates a dras.
winner_dict = {
    ('R','R'):0,
    ('R','P'):2,
    ('R','S'):1,
    ('P','R'):1,
    ('P','P'):0,
    ('P','S'):2,
    ('S','R'):2,
    ('S','P'):1,
    ('S','S'):0
}