# Part 1

In [486]:
# Advent of Code 2022, Day 2 Part 1
# https://adventofcode.com/2022/day/2

import pandas as pd
import numpy as np

In [487]:
# Open the file containing the strategy guide
with open('rps_strategy.txt', 'r') as f:
    lines = f.readlines()
    lines = [l.replace('\n', '') for l in lines]

In [488]:
# Create dataframe from strategy guide and rename the column
df = pd.DataFrame(lines).dropna()
df.columns=('strategy',)

df

     strategy
0         B Z
1         B Z
2         C Z
3         C Z
4         B X
...       ...
2496      C Z
2497      B Z
2498      C Z
2499      A Y
2500

[2501 rows x 1 columns]

In [489]:
# Clean up the dataframe:  remove blank rows - this addresses the extra 
# blank line at the end of the dataframe.

# Strip leading/lagging spaces
def clean_data(df):
    df['strategy'].str.strip()
    # replace blanks witn NaN
    df['strategy'].replace('', np.nan, inplace=True)
    # drop the NaN rows
    df = df.dropna()

    return df

df = clean_data(df)

In [490]:
# Rock paper scissors dictionary -
# 1 means the first player in the tuple wins.
# 2 means the second player wins.
# 0 indicates a draw.
winner_dict = {
    ('R','R'):0,
    ('R','P'):2,
    ('R','S'):1,
    ('P','R'):1,
    ('P','P'):0,
    ('P','S'):2,
    ('S','R'):2,
    ('S','P'):1,
    ('S','S'):0
}

In [491]:
opponent_shape_dict = {'A':'R', 'B':'P', 'C':'S'}

my_shape_dict = {'X':'R', 'Y':'P', 'Z':'S'}

def get_opponent_shape(s):
    # opponent shape is the first character of each line
    shape_coded = s[0]
    # decode opponent shape
    shape = opponent_shape_dict[shape_coded]
    return shape

def get_my_shape(s):
    # my shape is the last character of each line
    shape_coded = s[-1]
    # decode my shape
    shape = my_shape_dict[shape_coded]
    return shape

def get_rps_match(s):
    return (get_opponent_shape(s),get_my_shape(s))

def get_winner(s):
    rps_match = get_rps_match(s)
    return winner_dict[rps_match]

def get_my_wld(s):
    wld_dict = {0:'D', 1:'L', 2:'W'}
    wld_code = get_winner(s)
    return wld_dict[wld_code]

def get_opponent_wld(s):
    wld_dict = {0:'D', 1:'W', 2:'L'}
    wld_code = get_winner(s)
    return wld_dict[wld_code]

In [492]:
get_my_shape('B Z')

'S'

In [493]:
get_opponent_shape('B Z')

'P'

In [494]:
get_rps_match('B Z')

('P', 'S')

In [495]:
get_winner('B Z')

2

In [496]:
df

     strategy
0         B Z
1         B Z
2         C Z
3         C Z
4         B X
...       ...
2495      C Z
2496      C Z
2497      B Z
2498      C Z
2499      A Y

[2500 rows x 1 columns]

In [497]:
df['opponent']=df['strategy'].apply(get_opponent_shape)
df['me']=df['strategy'].apply(get_my_shape)

df

/var/folders/f2/c6nyrb_57g50fl1tj29bgpq40000gn/T/ipykernel_82045/2216396671.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['opponent']=df['strategy'].apply(get_opponent_shape)
/var/folders/f2/c6nyrb_57g50fl1tj29bgpq40000gn/T/ipykernel_82045/2216396671.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['me']=df['strategy'].apply(get_my_shape)

     strategy opponent me
0         B Z        P  S
1         B Z        P  S
2         C Z        S  S
3         C Z        S  S
4         B X        P  R
...       ...      ... ..
2495      C Z        S  S
2496      C Z        S  S
2497      B Z        P  S
2498      C Z        S  S
2499      A Y        R  P

[2500 rows x 3 columns]

In [498]:
df['rps_match']=df['strategy'].apply(rps_match)

/var/folders/f2/c6nyrb_57g50fl1tj29bgpq40000gn/T/ipykernel_82045/4145317152.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rps_match']=df['strategy'].apply(rps_match)

In [499]:
df['winner'] = df['strategy'].apply(get_winner)
df['opponent_wld'] = df['strategy'].apply(get_opponent_wld)
df['my_wld'] = df['strategy'].apply(get_my_wld)

df

/var/folders/f2/c6nyrb_57g50fl1tj29bgpq40000gn/T/ipykernel_82045/2198887692.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['winner'] = df['strategy'].apply(get_winner)
/var/folders/f2/c6nyrb_57g50fl1tj29bgpq40000gn/T/ipykernel_82045/2198887692.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['opponent_wld'] = df['strategy'].apply(get_opponent_wld)
/var/folders/f2/c6nyrb_57g50fl1tj29bgpq40000gn/T/ipykernel_82045/2198887692.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['my_wld'] = df['strategy'].apply(get_my_wld)

     strategy opponent me rps_match  winner opponent_wld my_wld
0         B Z        P  S    (P, S)       2            L      W
1         B Z        P  S    (P, S)       2            L      W
2         C Z        S  S    (S, S)       0            D      D
3         C Z        S  S    (S, S)       0            D      D
4         B X        P  R    (P, R)       1            W      L
...       ...      ... ..       ...     ...          ...    ...
2495      C Z        S  S    (S, S)       0            D      D
2496      C Z        S  S    (S, S)       0            D      D
2497      B Z        P  S    (P, S)       2            L      W
2498      C Z        S  S    (S, S)       0            D      D
2499      A Y        R  P    (R, P)       2            L      W

[2500 rows x 7 columns]

In [500]:
# Assigning points

shape_score_dict = {'R':1, 'P':2, 'S':3}

winner_score_dict = {'L':0, 'D':3, 'W':6}

def get_shape_score(shape):
    return shape_score_dict[shape]

def get_winner_score(wld):
    return winner_score_dict[wld]

In [501]:
df['opponent_wld_points'] = df['opponent_wld'].apply(get_winner_score)
df['my_wld_points'] = df['my_wld'].apply(get_winner_score)

df['opponent_shape_points'] = df['opponent'].apply(get_shape_score)
df['my_shape_points'] = df['me'].apply(get_shape_score)

df

/var/folders/f2/c6nyrb_57g50fl1tj29bgpq40000gn/T/ipykernel_82045/2232287754.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['opponent_wld_points'] = df['opponent_wld'].apply(get_winner_score)
/var/folders/f2/c6nyrb_57g50fl1tj29bgpq40000gn/T/ipykernel_82045/2232287754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['my_wld_points'] = df['my_wld'].apply(get_winner_score)
/var/folders/f2/c6nyrb_57g50fl1tj29bgpq40000gn/T/ipykernel_82045/2232287754.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['opponent_shape_points'] = df['opponent'].apply(get_shape_score)
/var/folders/f2/c6nyrb_57g50fl1tj29bgpq40000gn/T/ipykernel_82045/2232287754.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['my_shape_points'] = df['me'].apply(get_shape_score)

,strategy,opponent,me,rps_match,winner,opponent_wld,my_wld,opponent_wld_points,my_wld_points,opponent_shape_points,my_shape_points
0,B Z,P,S,"(P, S)",2,L,W,0,6,2,3
1,B Z,P,S,"(P, S)",2,L,W,0,6,2,3
2,C Z,S,S,"(S, S)",0,D,D,3,3,3,3
3,C Z,S,S,"(S, S)",0,D,D,3,3,3,3
4,B X,P,R,"(P, R)",1,W,L,6,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
2495,C Z,S,S,"(S, S)",0,D,D,3,3,3,3
2496,C Z,S,S,"(S, S)",0,D,D,3,3,3,3
2497,B Z,P,S,"(P, S)",2,L,W,0,6,2,3
2498,C Z,S,S,"(S, S)",0,D,D,3,3,3,3
2499,A Y,R,P,"(R, P)",2,L,W,0,6,1,2

In [502]:
df['my_total_points'] = df['my_shape_points']+df['my_wld_points']
df['opponent_total_points'] = df['opponent_shape_points']+df['opponent_wld_points']

/var/folders/f2/c6nyrb_57g50fl1tj29bgpq40000gn/T/ipykernel_82045/585083459.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['my_total_points'] = df['my_shape_points']+df['my_wld_points']
/var/folders/f2/c6nyrb_57g50fl1tj29bgpq40000gn/T/ipykernel_82045/585083459.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['opponent_total_points'] = df['opponent_shape_points']+df['opponent_wld_points']

In [503]:
df

,strategy,opponent,me,rps_match,winner,opponent_wld,my_wld,opponent_wld_points,my_wld_points,opponent_shape_points,my_shape_points,my_total_points,opponent_total_points
0,B Z,P,S,"(P, S)",2,L,W,0,6,2,3,9,2
1,B Z,P,S,"(P, S)",2,L,W,0,6,2,3,9,2
2,C Z,S,S,"(S, S)",0,D,D,3,3,3,3,6,6
3,C Z,S,S,"(S, S)",0,D,D,3,3,3,3,6,6
4,B X,P,R,"(P, R)",1,W,L,6,0,2,1,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,C Z,S,S,"(S, S)",0,D,D,3,3,3,3,6,6
2496,C Z,S,S,"(S, S)",0,D,D,3,3,3,3,6,6
2497,B Z,P,S,"(P, S)",2,L,W,0,6,2,3,9,2
2498,C Z,S,S,"(S, S)",0,D,D,3,3,3,3,6,6
2499,A Y,R,P,"(R, P)",2,L,W,0,6,1,2,8,1

In [504]:
my_grand_total_points = df['my_total_points'].sum()
opponent_grand_total_points = df['opponent_total_points'].sum()

In [505]:
my_grand_total_points

15523

# Part 2

In [506]:
opponent_grand_total_points

11536

In [507]:
# Advent of Code 2022, Day 2 Part 2
# https://adventofcode.com/2022/day/2#part2

# set up a new dataframe from the original strategy guide
df2 = pd.DataFrame(lines).dropna()
df2.columns=('strategy',)

# clean again (removes the blank line)
df2 = clean_data(df2)

In [509]:
df2['opponent'] = df2['strategy'].apply(get_opponent_shape)

df2

     strategy opponent
0         B Z        P
1         B Z        P
2         C Z        S
3         C Z        S
4         B X        P
...       ...      ...
2495      C Z        S
2496      C Z        S
2497      B Z        P
2498      C Z        S
2499      A Y        R

[2500 rows x 2 columns]

In [510]:
# What shape do I need to achieve the goal?

# key = (<opponent shape>, <win/lose/draw goal>)
# value = my shape to meet the goal

my_goal_shape_dict = {
    ('R','W'):'P',
    ('R','L'):'S',
    ('R','D'):'R',
    ('P','W'):'S',
    ('P','L'):'R',
    ('P','D'):'P',
    ('S','W'):'R',
    ('S','L'):'P',
    ('S','D'):'S'
    }


my_goal_shape_dict

{('R', 'W'): 'P',
 ('R', 'L'): 'S',
 ('R', 'D'): 'R',
 ('P', 'W'): 'S',
 ('P', 'L'): 'R',
 ('P', 'D'): 'P',
 ('S', 'W'): 'R',
 ('S', 'L'): 'P',
 ('S', 'D'): 'S'}

In [511]:
# Goal for each round:  Win, lose or draw?
def get_my_wld_goal(s):
    my_wld_goal_dict = {'X':'L', 'Y':'D', 'Z':'W'}
    # wld goal is the last character
    goal_code = s[-1]
    goal = my_wld_goal_dict[goal_code]
    return goal

df2['my_wld_goal'] = df2['strategy'].apply(get_my_wld_goal)

def get_opponent_goal_pair(s):
    return (get_opponent_shape(s), get_my_wld_goal(s))

def get_my_goal_shape(s):
    return my_goal_shape_dict[get_opponent_goal_pair(s)]


def get_opponent_wld_2(s):
    wld_opposite_dict = {'W':'L', 'L':'W','D':'D'}
    my_wld = get_my_wld_goal(s)
    return wld_opposite_dict[my_wld]

df2

     strategy opponent my_wld_goal
0         B Z        P           W
1         B Z        P           W
2         C Z        S           W
3         C Z        S           W
4         B X        P           L
...       ...      ...         ...
2495      C Z        S           W
2496      C Z        S           W
2497      B Z        P           W
2498      C Z        S           W
2499      A Y        R           D

[2500 rows x 3 columns]

In [512]:

df2['opponent-goal_pair'] = df2['strategy'].apply(get_opponent_goal_pair)
df2['me'] = df2['strategy'].apply(get_my_goal_shape)

In [513]:
def get_rps_match_goal(s):
    return (get_opponent_shape(s),get_my_goal_shape(s))

def get_winner_goal(s):
    rps_match = get_rps_match_goal(s)
    return winner_dict[rps_match]

df2['rps_match'] = df2['strategy'].apply(get_rps_match_goal)
df2['winner'] = df2['strategy'].apply(get_winner_goal)

In [514]:
df2

     strategy opponent my_wld_goal opponent-goal_pair me rps_match  winner
0         B Z        P           W             (P, W)  S    (P, S)       2
1         B Z        P           W             (P, W)  S    (P, S)       2
2         C Z        S           W             (S, W)  R    (S, R)       2
3         C Z        S           W             (S, W)  R    (S, R)       2
4         B X        P           L             (P, L)  R    (P, R)       1
...       ...      ...         ...                ... ..       ...     ...
2495      C Z        S           W             (S, W)  R    (S, R)       2
2496      C Z        S           W             (S, W)  R    (S, R)       2
2497      B Z        P           W             (P, W)  S    (P, S)       2
2498      C Z        S           W             (S, W)  R    (S, R)       2
2499      A Y        R           D             (R, D)  R    (R, R)       0

[2500 rows x 7 columns]

In [515]:
df2['opponent_wld'] = df2['strategy'].apply(get_opponent_wld_2)

df2['opponent_wld_points'] = df2['opponent_wld'].apply(get_winner_score)
df2['my_wld_points'] = df2['my_wld_goal'].apply(get_winner_score)

df2['opponent_shape_points'] = df2['opponent'].apply(get_shape_score)
df2['my_shape_points'] = df2['me'].apply(get_shape_score)

df2['my_total_points'] = df2['my_shape_points']+df2['my_wld_points']
df2['opponent_total_points'] = df2['opponent_shape_points']+df2['opponent_wld_points']

In [516]:
df2

,strategy,opponent,my_wld_goal,opponent-goal_pair,me,rps_match,winner,opponent_wld,opponent_wld_points,my_wld_points,opponent_shape_points,my_shape_points,my_total_points,opponent_total_points
0,B Z,P,W,"(P, W)",S,"(P, S)",2,L,0,6,2,3,9,2
1,B Z,P,W,"(P, W)",S,"(P, S)",2,L,0,6,2,3,9,2
2,C Z,S,W,"(S, W)",R,"(S, R)",2,L,0,6,3,1,7,3
3,C Z,S,W,"(S, W)",R,"(S, R)",2,L,0,6,3,1,7,3
4,B X,P,L,"(P, L)",R,"(P, R)",1,W,6,0,2,1,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,C Z,S,W,"(S, W)",R,"(S, R)",2,L,0,6,3,1,7,3
2496,C Z,S,W,"(S, W)",R,"(S, R)",2,L,0,6,3,1,7,3
2497,B Z,P,W,"(P, W)",S,"(P, S)",2,L,0,6,2,3,9,2
2498,C Z,S,W,"(S, W)",R,"(S, R)",2,L,0,6,3,1,7,3
2499,A Y,R,D,"(R, D)",R,"(R, R)",0,D,3,3,1,1,4,4

In [517]:
my_grand_total_points_2 = df2['my_total_points'].sum()
opponent_grand_total_points_2 = df2['opponent_total_points'].sum()

In [518]:
my_grand_total_points_2

15702

In [519]:
opponent_grand_total_points_2

9379