## Advent of Code 2022
### Day 4
https://adventofcode.com/2022/day/4

In [14]:
import pandas as pd

In [2]:
# open the input ddata
with open('camp_area_ranges.txt') as f:
    lines = f.readlines()

In [3]:
# remove \n from each line
camp_ranges= [l.replace('\n','') for l in lines]

In [4]:
# create a dataframe to analyze the camp area anges
df = pd.DataFrame(camp_ranges, columns=['original'])

In [5]:
# split the original column at the "," character into separate columns
# for each elf's range
df[['range1', 'range2']] = df['original'].str.split(',', expand=True)

In [6]:
# split each range at the '-' character into lower and upper limiits
df[['range1_lower', 'range1_upper']] = df['range1'].str.split('-', expand=True)
df[['range2_lower', 'range2_upper']] = df['range2'].str.split('-', expand=True)

In [7]:
# conditions for a full overlap if range 1 contains range 2:
# range1_lower <= range2_lower AND range1_upper >= range2_upper

filter_1contains2 = (df['range1_lower']<=df['range2_lower']) & (df['range1_upper'] >= df['range2_upper'])

# reverse the conditions to find out if range 2 contains range 1
filter_2contains1 = (df['range2_lower']<=df['range1_lower']) & (df['range2_upper'] >= df['range1_upper'])

In [8]:
# apply filters as columns in the dataframe just to view and
# double check

df['range1_contains_range2'] =  filter_1contains2
df['range2_contains_range1'] = filter_2contains1

In [9]:
# combine filters to identify lines where either range contains the other.
# first filter OR second filter.

df[(filter_1contains2 | filter_2contains1)]

,original,range1,range2,range1_lower,range1_upper,range2_lower,range2_upper,range1_contains_range2,range2_contains_range1
0,"54-59,17-62",54-59,17-62,54,59,17,62,False,True
1,"20-93,57-92",20-93,57-92,20,93,57,92,True,False
2,"6-54,7-54",6-54,7-54,6,54,7,54,True,False
3,"3-99,59-98",3-99,59-98,3,99,59,98,True,False
4,"5-8,5-8",5-8,5-8,5,8,5,8,True,True
...,...,...,...,...,...,...,...,...,...
994,"46-89,87-88",46-89,87-88,46,89,87,88,True,False
995,"59-89,68-89",59-89,68-89,59,89,68,89,True,False
997,"24-94,54-93",24-94,54-93,24,94,54,93,True,False
998,"41-63,40-63",41-63,40-63,41,63,40,63,False,True
999,"87-90,89-90",87-90,89-90,87,90,89,90,True,False

In [10]:
# looks good!  Just count the rows in this filtered dataframe to get the answer.

len(df[(filter_1contains2 | filter_2contains1)])

682